@use "helpers/variables" as v;
@use "core/typography" as t;
@use "helpers/classes" as c;
@use "helpers/mixins" as m;

/*
.is-sticky{
    position: sticky;
    top: 0rem;
    z-index: 100;
    background-color: #ffcb00;
    padding: 0.5rem;
}
*/

header#masthead{
    background-color: v.$f11y-dark;
    color: v.$f11y-white;
    padding-block: 3rem;

    div{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    img{
        max-width: 75px;
        @extend .is-margin-centered;
    }

    h2{
        max-width: 300px;
        margin-block: 0;
        line-height: 170%;

        sup{
            transform: translateY(-5px);
            display: inline-block;
        }
    }
}