@use "../../helpers/variables" as v;

.f11y--accordion{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .accordion-item__panel[hidden] {
        display: none;
    }
    
    [f11y-accordion-item]{
        border-radius: 2px;

        button{
            border: 1px solid rgba(v.$f11y-white, 0.45);
            padding: 15px 20px;
            width: 100%;
            background-color: transparent;
            font-weight: 500;
            font-style: italic !important;
            font-size: var(--l-body);
            color: v.$f11y-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            transition: background-color 0.3s v.$timing-function;

            &::after{
                content: '';
                width: 17px;
                height: 17px;
                border: 1px solid rgba(v.$f11y-white, 0.45);
                border-radius: 100vw;
                transition: transform 0.3s v.$timing-function, background-color 0.3s v.$timing-function;
            }

            &[aria-expanded="true"]{
                &::after{
                    background-color:v.$f11y-white;
                    transform: scale(1.2);
                }
                border: 1px solid rgba(v.$f11y-white, 0.9);
                border-bottom:1px solid transparent;
                border-radius: 2px;
                background-color: rgba(v.$f11y-white, 0.075);

            }
        }

        div{
            width: 100%;
        }

        [role="region"]{
            background-color: v.$f11y-dark;
            padding: var(--n-heading);
            border-radius: 0px 0px 2px 2px;
            border: 1px solid rgba(v.$f11y-white, 0.9);
            border-top: none;

            *{
                color: v.$f11y-white;
                font-size: var(--h-body);
                font-weight: 100;
                font-style: italic;
            }
        }
    }
    

    .external-triggers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        button{
            &.is-closed{
                &::before{
                    content: 'Open ';
                }
            }

            &.is-open{
                &::before{
                    content: 'Close ';
                }
            }
        }
    }
}