@use "../../helpers/variables" as v;

.f11y--layer {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    &.is-open {
        display: flex;
        z-index: 100;
    }

    .f11y--layer__overlay{
        background: rgba(v.$f11y-white, 0.3);
        backdrop-filter: blur(2px);
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: 5;
    }

    [role="dialog"] {
        border-radius: 0.3em;
        background-color: v.$f11y-dark;
        width: 100%;
        max-width: calc(v.$tablet-size * 1px);
        max-height: 100vh;
        box-sizing: border-box;
        padding: 1.5rem;
        position: relative;
        z-index: 10;

        .x-close{
            width: 40px;
            height: 40px;
            position: absolute;
            right: -15px;
            top: -15px;
            border-radius: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(45deg);

            &::before,
            &::after{
                content: '';
                position: absolute;
                width: 17px;
                height: 3px;
                border-radius: 3px;
                background-color: v.$f11y-dark;
                transform-origin: center;
            }

            &::before{
                transform: rotate(-90deg);
            }
        }
    }

    &.block-modal--animate .block-modal__container,
    &.block-modal--animate .block-modal__overlay {
        will-change: transform;
    }

    /* ------------------------------------------------
        Animation Modifier Classes
    -------------------------------------------------*/
    &.block-modal--animate-slide[aria-hidden="false"] .block-modal__container {
        animation: block-modal--slide-in .4s v.$timing-function;
    }
    
    &.block-modal--animate-slide[aria-hidden="true"] .block-modal__container {
        animation: block-modal--slide-out .4s v.$timing-function;
    }
    
    &.block-modal--animate-fade[aria-hidden="false"] .block-modal__overlay {
        animation: block-modal--fade-in .4s v.$timing-function;
    }
    
    &.block-modal--animate-fade[aria-hidden="true"] .block-modal__overlay {
        animation: block-modal--fade-out .4s v.$timing-function;
    }
}

/* ------------------------------------------------
    Animation Keyframes
-------------------------------------------------*/
@keyframes block-modal--fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes block-modal--fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes block-modal--slide-in {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes block-modal--slide-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}